@charset "utf-8";

html, body { background: #f1f2f3; }
body { width: 800px; margin: 0 auto; font-size: 120%; font-family: sans-serif; }
header { height: 5em; }
h1 { float: left; line-height: 1.5em; margin: 0.5em 0; font-size: 200%; }
#version { float: left; margin: 1.5em 0 0 1em; }
#lang { float: right; color: gray; font-size: 83%; margin: 1.8em 0 0; }
h2 { border-bottom: 2px solid #ccc; margin-top: 1em; }
dl { height: 4.8em; margin: 0 10px 0 20px; }
dl a { text-decoration: none; display: block; height: 100%; }
dl dt { clear: left; float: left; font-size: 200%; display: block; width: 400px; height: 2.2em; line-height: 2.2em; background: #ffa00a; margin-left: 40px; text-align: center; margin: 0.1em; }
dl dt a { color: #fff; }
dl dt a:hover { background: #ffb137; }
dl dd { line-height: 2em; height: 2em; float: left; background: #fff; width: 150px; text-align: center; margin: 0.2em 10px; }
dl dd a { color: #000; }
dl dd a:hover { background: #ffb137; color: #fff; }
.in { margin-left: 40px; }
pre { background: #eee; padding: 1em 2em; }
.browser { display: none; margin-bottom: 1em; }
.support { min-height: 80px; padding-left: 80px; }
.browser-icon { float: left; margin: 8px; margin-left: -80px; }
#show_all { background: #dedede; color: #777; text-align: center; line-height: 1.6em; cursor: pointer; }
.v6support { font-weight: bold; color: #300; }
.v6support { font-weight: bold; color: #300; }
@font-face { font-family: "yawf-iconfont"; font-style: normal; font-weight: normal; src: url(img/yawf-iconfont.woff) format("woff"), url(img/yawf-iconfont.svg) format("svg"); }
.yawf-iconfont { font-family: yawf-iconfont; }
